<p class="titels" data-tr="brands">brands</p>
<div id="slider"></div>

<section id="content">
    <p class="titels" data-tr="categorys">categorys</p>
    <div class="block-1 box-1" id="category"></div>
    <p class="titels" data-tr="fuels">fuels</p>
    <div class="block-1" id="fuel_type"></div>
    <p class="titels" data-tr="related_books">related books</p>
    <div id="related_books"></div>
    <div id="see_more_books_div"></div>
</section>

<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>