<form id="form_login" method="post" class="form">
    <fieldset><label for="username"><input type="text" placeholder="Usernme" name="username" id="username"></label>
        <label for="password"><input type="password" placeholder="Password" name="password" id="password"></label>
        <span id="login_errors" class="errors"></span><br>
        <span class="button" id="send_btn">Send</span>
        <br><span class="login_msg">You don't have an account, registere <a href="index.php?module=login&op=list_register">HERE</a></span>
    </fieldset>
</form>