<form id="form_register" method="post" class="form">
        <fieldset><label for="username"><input type="text" placeholder="Usernme" name="username" id="username"> <span
                                id="register_errors_username" class="errors"></span></label>
                <label for="password"><input type="password" placeholder="Password" name="password" id="password"><span
                                id="register_errors_password" class="errors"></span></label>
                <label for="email"><input type="text" placeholder="Email" name="email" id="email"><span
                                id="register_errors_email" class="errors"></span></label>
                <span class="button" id="send_btn">Send</span>


        </fieldset>
</form>

<!-- <div id="register"></div> -->